.boton-contenedor {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: aquamarine;
    color: #EAEDED;
    border-radius: 25px;
    border: 2px solid black;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover {
    background-color: blueviolet;
}
.operador {
    background-color: brown;
}

.operador:hover {
    background-color: bisque;
    color: black;
}